tmp/app.db

# Dependencies
node_modules/
.DS_Store

#Environment variables
.env
.env.test

# Build output
build/
dist/

# Database
db/*.db

*.js
build/
.vscode/
*.log
*.sqlite
*.db
*.sqlite3
*.tgz
*.lock
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.pid.lock 